// $color--blue: #4947d8;
// $color--darkblue: #080461;
// $color--purple: #7c78e9;
// $color--orange: #fc521a;
// $color--yellow: #ffbf01;
// $color--black: #141414;

body {
  margin: 0;
  background-color: #cccccc;
}
table {
  border-spacing: 0;
}
td {
  padding: 0;
}
img {
  border: 0;
}
.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #cccccc;
  padding-bottom: 3rem;
}
.main {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-spacing: 0;
  font-family: sans-serif;
  color: #141414;
  font-size: 0.85rem;
}
.border-top {
  background-color: #141414;
  height: 1rem;
}
.header {
  background-color: #080461;
  min-height: 8rem;
  height: fit-content;
  width: 100%;
  // padding: 2rem 1rem;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.text {
  padding: 3rem 1rem;
}
.letter-heading {
  padding-bottom: 1rem;
}
.name {
  font-weight: 800;
}
.qr {
  text-align: center;
  padding: 3rem 0;
}
.footer {
  background-color: #27256a;
  min-height: 8rem;
  height: fit-content;
}
